Package: zettaship-git
Version: new_ver
Architecture: amd64
Section: unknown
Priority: extra
Maintainer: Sergey Kostyaev <s.kostyaev@ngs>
Homepage: https://github.com/s-kostyaev/zettaship
Depends: 
Description: client for zettagate
  This programm is a client side of client-server application for using zfs from lxc containers.
